<div id="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="57px">
    <div id="settingUp" class="guideModule" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="100px">
        <div id="settingUpText">
            <span class="mat-h1">
                Setting Up:
            </span>
            <ol>
                <li>At the top right of the page, click on the User icon.</li>
                <li>Your unique webhook url and Google key should appear, copy them to the Google Form Ad(s) that you wish to link to miniCRM.
                    <ul>
                        <li>On the Google Ads site, this can be found while editing a form in the section "Lead Delivery Option" > "Manage your leads with a webhook"</li>
                        <li>Copy and paste your webhook url and Google key from miniCRM into the respective fields in your form.</li>
                    </ul>
                </li>
                <li>Click save at the bottom of the Form page.</li>
                <li>Congratulations! Your form is ready to delivery leads for you to view here! As soon as you receive a new lead, you will be able to view it on the "Leads" page!</li>
            </ol>
        </div>
        <div>
            <img id="screenshot" src="assets/imgs/settingUpUserJourney.png">
        </div>
    </div>
</div>
