* {
    box-sizing: border-box;
}

#screenshot {
    border: 1px solid #ddd;
    width: 600px;
    background-color: #C4C4C4;
}

.guideModule {
    width: 100%;
    padding: 0% 4%;
}

#content {
    padding-top: 57px;
    height: 100%;
    width: 100%;
}
.footer {
    margin: 20px;
}
#adsPortalPic {
    width: 400px;
}