<h1 mat-dialog-title>Lead Info</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>Date Received: {{data.lead.date}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Name: {{data.lead.columnData.FULL_NAME}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Phone Number: {{data.lead.columnData.PHONE_NUMBER}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: {{data.lead.columnData.EMAIL}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Status: {{data.lead.status}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-form-field id="notes">
    <p>Notes:</p>
    <textarea matInput 
      cdkTextareaAutosize 
      (input)="notesUpdated()"
      [(ngModel)]="data.lead.notes">
    </textarea>
  </mat-form-field>
  <mat-divider></mat-divider>
  <p id="sub-details" class="mat-small">
    Lead Id: {{data.lead.leadId}}
    <br/>
    Campaign Id: {{data.lead.campaignId}}
    <br/>
    Form Id: {{data.lead.formId}}
    <br/>
    Ad Group Id: {{data.lead.adgroupId}}
    <br/>
    Creative Id: {{data.lead.creativeId}}
    <br/>
    Google Click Id: {{data.lead.gclId}}
  </p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-flat-button [mat-dialog-close]="data.lead.notes" color="primary" [disabled]="!updated">Update</button>
</div>
