# Default ignored files
/shelf/
/.idea/workspace.xml
target/
.idea
*.iml
.classpath
.factorypath
.project
.settings
WEB-INF/

# Ignore anything in webapp except for WEB-INF
src/main/webapp/
!src/main/webapp/WEB-INF/
