<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer opened="true" disableClose="true" mode="side">
    <mat-divider></mat-divider>
    <mat-nav-list>
      <!-- Sidebar title to let user know this is miniCRM -->
      <mat-list-item>
        <!-- Using button to keep spacing consistent -->
        <button mat-button>
          <mat-icon mat-list-icon>layers</mat-icon>
          <span *ngIf="isExpanded" class="mat-h2">miniCRM</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- All the buttons that lead to different pages of the CRM -->
      <mat-list-item *ngFor="let datum of navigationData">
        <button color="primary" mat-button [routerLink]="datum.link">
          <mat-icon mat-list-icon color="primary">{{ datum.icon }}</mat-icon>
          <span *ngIf="isExpanded" class="mat-h4">{{ datum.displayedName }}</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Button to toggle text in sidebar. -->
      <mat-list-item (click)="isExpanded = !isExpanded" >
        <button color="primary" mat-button>
          <mat-icon mat-list-icon color="primary">{{ isExpanded ? "chevron_left" : "chevron_right" }}</mat-icon>
          <span *ngIf="isExpanded" class="mat-h4">Hide</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{ titleService.getTitle() }}</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div id="menuContainer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" (click)="$event.stopPropagation();">
            <app-copyable-form-field label="Your Webhook" [copyableValue]="webhookUrl"></app-copyable-form-field>
            <app-copyable-form-field label="Your Google Key" [copyableValue]="googleKey"></app-copyable-form-field>
            <button mat-flat-button color="primary" (click)="logout()">LOGOUT</button>
          </div>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
