<div id="content" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="23px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <button mat-raised-button color="primary">LINK FORM</button>
        <button mat-raised-button color="primary">UNLINK FORM</button>
        <mat-form-field appearance="outline">
            <mat-label>Find Form</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="formId">
            <th mat-header-cell *matHeaderCellDef>Form Id</th>
            <td mat-cell *matCellDef="let element"> {{element.formId}} </td>
        </ng-container>
        <ng-container matColumnDef="formName">
            <th mat-header-cell *matHeaderCellDef>Form Name</th>
            <td mat-cell *matCellDef="let element"> {{element.formName}} </td>
        </ng-container>
        <ng-container matColumnDef="googleKey">
            <th mat-header-cell *matHeaderCellDef>Google Key</th>
            <td mat-cell *matCellDef="let element"> {{element.googleKey}} </td>
        </ng-container>
        <ng-container matColumnDef="verified">
            <th mat-header-cell *matHeaderCellDef>Verified</th>
            <td mat-cell *matCellDef="let element"> {{element.verified}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date Linked</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>