#screenshot {
    border: 1px solid #ddd;
    width: 511px;
    background-color: #C4C4C4;
}

.icon-display {
    font-size: 150px;
    width: 150px;
}

#content {
    margin-top: 57px;
}

#login {
    margin-right: 4px;
}
