* {
    box-sizing: border-box;
}

#screenshot {
    border: 1px solid #ddd;
    width: 511px;
    background-color: #C4C4C4;
}

.icon-display {
    font-size: 150px;
    width: 150px;
}

#content {
    margin-top: 57px;
}

#login-button {
    padding: 10px 8%;
}

#login {
    margin-right: 4px;
}

#crm-description {
    max-width: 30%;
}