<mat-toolbar color="primary">
    <mat-icon>layers</mat-icon>
    <h6>miniCRM</h6>
</mat-toolbar>
<div id="content" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="57px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="183px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="mat-display-4">
                <span i18n>A simple, lightweight CRM app.</span><br>
            </div>
            <button (click)="login()" mat-flat-button color="primary">
                <span i18n id="login">LOGIN</span>
                <mat-icon> login</mat-icon>
            </button>
        </div>
        <div>
        <img id="screenshot" src="assets/imgs/leadsView.png">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="150px">
        <div *ngFor="let feature of features" fxLayout="column" fxLayoutAlign="center center">
        <div>
            <mat-icon class="icon-display">{{ feature.icon }}</mat-icon>
        </div>
        <span class="mat-h1">{{ feature.name }}</span>
        <span class="mat-h4">{{ feature.description }}</span>
        </div>
    </div>
</div>
