<div>
    <mat-list>
        <div i18n mat-subheader>Notifications</div>
        <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div i18n mat-line>Email</div>
            <div mat-line>{{displayedSettings.email}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <div i18n mat-line>Phone Number</div>
            <div mat-line>{{displayedSettings.phone}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div i18n mat-subheader>Language & Currency</div>
        <mat-list-item>
            <mat-icon mat-list-icon>language</mat-icon>
            <div i18n mat-line>Language</div>
            <div mat-line>{{displayedSettings.language}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>attach_money</mat-icon>
            <div i18n mat-line>Currency</div>
            <div mat-line>{{displayedSettings.currency}}</div>
        </mat-list-item>
    </mat-list>
</div>
