<div id="content" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="23px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
        <button mat-raised-button color="primary" (click)="deleteForms()">UNLINK FORM</button>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Find Form</mat-label>
            <input matInput placeholder="Form 1">
            <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <app-crm-table #formsCrmTable [data]="forms" [keyOrdering]="keyOrdering"></app-crm-table>
</div>
