<div class="container">
  <div class="button-row">
    <button mat-flat-button color="primary" class="margined" [disabled]="!checkSelection()" (click)="emailLead()">
      <span i18n>Email Leads</span>
      <mat-icon>email</mat-icon>
    </button>
    <button mat-flat-button color="primary" class="margined" [disabled]="!checkSelection()" (click)="smsLead()">
      <span i18n>Leads</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <mat-form-field>
    <mat-label i18n>Filter your leads</mat-label>
    <input matInput
           (change)="applyFilter($event)"
           [placeholder]="filterPlaceholder"
           #input>
  </mat-form-field>
  <div class="mat-elevation-z1">
    <mat-table matTableExporter
               [dataSource]="dataSource"
               #exporter="matTableExporter"
               matSort
               class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let lead">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(lead) : null"
                        [checked]="selection.isSelected(lead)"
                        [aria-label]="checkboxLabel(lead)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Lead Id Column -->
      <ng-container matColumnDef="leadId">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Lead Id </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.leadId}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.date | date:'short'}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Lead Name </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.columnData.FULL_NAME}} </mat-cell>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phone_number">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Phone Number </mat-header-cell>

        <mat-cell *matCellDef="let lead"> {{lead.columnData.PHONE_NUMBER}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Email </mat-header-cell>

        <mat-cell *matCellDef="let lead"> {{lead.columnData.EMAIL}} </mat-cell>
      </ng-container>

      <!-- Form Name Column -->
      <ng-container matColumnDef="formName">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Form Name </mat-header-cell>
          <mat-cell *matCellDef="let lead"> 
            <ng-container *ngIf="formNameMap">
              {{formNameMap.get(lead.formId)}} 
            </ng-container>
          </mat-cell>
      </ng-container>

      <!-- Campaign Name Column -->
      <ng-container matColumnDef="campaignName">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Campaign Name </mat-header-cell>
          <mat-cell *matCellDef="let lead"> 
            <ng-container *ngIf="campaignNameMap">
              {{campaignNameMap.get(lead.campaignId)}} 
            </ng-container>
          </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> Lead Status </mat-header-cell>
        <mat-cell *matCellDef="let lead">
          <mat-form-field>
            <mat-select [(value)]="lead.status"
              (selectionChange)="updateLead(lead)">
              <mat-option i18n *ngFor="let key of leadStatusKeys" [value]="key">
                {{key | humanizeEnum}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-cell>
      </ng-container>

      <!-- More-info Column -->
      <ng-container matColumnDef="details">
        <mat-header-cell i18n *matHeaderCellDef
                         mat-sort-header> More Info </mat-header-cell>
        <mat-cell *matCellDef="let lead"> <button mat-icon-button color="primary" (click)="openDialog(lead)">
          <mat-icon class="material-icons">info_outline</mat-icon>
        </button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- Row shown when there is no matching data. -->
      <mat-header-row class="mat-row"
                      *matNoDataRow>
        <mat-row class="mat-cell"
                 colspan="4"><span i18n>No data matching the filter</span> "{{input.value}}"</mat-row>
      </mat-header-row>
    </mat-table>
    <mat-card *ngIf="isLoading"
              style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>
    <!-- TODO: Switch this to use a class instead of setting styles -->
    <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"
                   showFirstLastButtons></mat-paginator>
  </div>
  <button mat-raised-button color="primary" class="margined" (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'MiniCRM'}})">Download CSV <mat-icon>table_chart</mat-icon></button>
  <br>
</div>
