
<p>leads works!</p>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Lead Id Column -->
    <ng-container matColumnDef="lead_id">
      <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
      <mat-cell *matCellDef="let lead"> {{lead.lead_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let lead"> {{lead.column_data.FULL_NAME}} </mat-cell>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone_number">
      <mat-header-cell *matHeaderCellDef > Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let lead"> {{lead.column_data.PHONE_NUMBER}} </mat-cell>
    </ng-container>

    <!-- Campaign Id Column -->
    <ng-container matColumnDef="campaign_id">
      <mat-header-cell *matHeaderCellDef > Campaign Id </mat-header-cell>
      <mat-cell *matCellDef="let lead"> {{lead.campaign_id}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef > Date </mat-header-cell>
      <mat-cell *matCellDef="let lead"> {{lead.date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
