<div class="container">
  <div class="mat-elevation-z1">


    <mat-form-field>
      <mat-label>Filter your leads</mat-label>
      <input matInput
             (change)="applyFilter($event)"
             placeholder="Type specific area codes, lead-ID, ..."
             #input>
    </mat-form-field>

    <mat-table [dataSource]="dataSource"
               matSort
               class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let lead">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(lead) : null"
                        [checked]="selection.isSelected(lead)"
                        [aria-label]="checkboxLabel(lead)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Lead Id Column -->
      <ng-container matColumnDef="lead_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Lead ID </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.lead_id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Lead Name </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.column_data.FULL_NAME}} </mat-cell>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phone_number">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Phone Number </mat-header-cell>

        <mat-cell *matCellDef="let lead"> {{lead.column_data.PHONE_NUMBER}} </mat-cell>
      </ng-container>

      <!-- Campaign Id Column -->
      <ng-container matColumnDef="campaign_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Campaign Id </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.campaign_id}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let lead"> {{lead.date}} </mat-cell>
      </ng-container>

      <!-- More-info Column -->
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> More Info </mat-header-cell>
        <mat-cell *matCellDef="let lead"> <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon class="material-icons">info_outline</mat-icon>
        </button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- Row shown when there is no matching data. -->
      <mat-header-row class="mat-row"
                      *matNoDataRow>
        <mat-row class="mat-cell"
                 colspan="4">No data matching the filter "{{input.value}}"</mat-row>
      </mat-header-row>
    </mat-table>

    <!-- TODO: Switch this to use a class instead of setting styles -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons></mat-paginator>
  </div>

</div>
